.sidePane {
	float: left;
	width: 20%;
	padding-top: 50px;
	background-color: silver;
}

.sidePaneElement {
	float: none;
	padding: 10px;
	height: 100%;
}

.contentElement, .annotate, .local, .home {
	float: left;
	width: 80%;
	
}

.annotateElement, .annotate-intro, .fileUpload, .speciesSelect, .run {
	padding: 10px;
	text-align: center;
}

.home {
	
}

.welcome {
	text-align: center;
	padding: 10px;	
	font-size: 200%;
}


.annotate {
	background-color: gray;
}

.annotate-intro {
	background-color: lime;
}

.fileUpload {
	background-color: purple;
}

.speciesSelect {

}

.local {
	background-color: fuchsia;
}

.local-text {
	
}

.run {
	background-color: olive;
}

.introduction {

}

